# Compiled binaries
bledom-controller
/build/

# IDE and OS specific files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# User data files
schedules.json

# Test binary, build with `go test -c`
*.test

compose.yml
